/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* div {
	border: 1px solid Chocolate;
} */
.content {
 	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	padding: 0px 15px;
  	height: 70px;
	width: 970px;
	margin: 0 auto;
}
.top-navigation {
	background-color: #fff;
	width: 100%;
	position: fixed;
}
.top-navigation .logo {
	height: 70px;
}
.top-navigation .links {
	float: right;
	font-size: 16px;
	color: #838994;
	letter-spacing: .03em;
	margin-top: 25px;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}
.top-navigation .links li.active {
	color: #4c5058;
	font-weight: 600;
}
.introduction {
	background: url('../img/first-background.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center bottom;
  	height: 960px;
  	color: #fff;
  	overflow: auto;
	font-weight: lighter;
	padding-top: 70px;
}
.introduction > .content {
	margin-top: 370px;
	height: auto;
}
.introduction h1, .introduction h3 {
	text-align: center;
}
.introduction h1 {
	font-size: 47px;
}
.introduction h3 {
	font-size: 24px;
	margin-top: 30px;
}
.introduction .buttons {
	margin-top: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons button, .buy-now button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	color: #fff;
	font-size: 18px;
	font-weight: lighter;
	background-color: #f15a29;
}
.buttons button:hover, .introduction .watch > span:hover, .down-arrow:hover, .buy-now button:hover {
	cursor: pointer;	
}
.buttons button:hover, .buy-now button:hover {
	background-color: #d9400e;
}
.introduction .watch > span:hover {
	opacity: .8;
}
.introduction .half {
	display: inline-block;
}
.introduction .watch {
	margin-left: 30px;
	width:160px;
	height:35px;
}
.introduction .watch > span {
	display: flex;
	align-items: center;
}
.introduction .play-icon {
	margin-right: 10px;
}
.down-arrow {
	width:52px;
	margin-top: 275px;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: bounce 2s infinite;
  	-moz-animation: bounce 2s infinite;
  	-o-animation: bounce 2s infinite;
  	animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
	0%, 100% {
		margin-top: 275px;
	}
	50% {
		margin-top: 300px;
	}	
}
@keyframes bounce {
	0%, 100% {
		margin-top: 275px;
	}
	50% {
		margin-top: 300px;
	}
}
.cases h2 {
	font-size: 40px;
	text-align: center;
	font-weight: lighter;
}
.cases > .content {
	margin-top: 150px;
	margin-bottom: 150px;
	height: 360px;
	color: #4c5058;
}
.cases .device-box {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cases .devices {
	width: 33.3333333%;
	display: inline-block;
	text-align: center;
	height: 4em;
}
.device-icon, .coffee-icon, .refill-icon {
	height: 115px;
	width: 115px;
}
.devices > h3 {
	font-size: 24px;
	margin-top: 35px;
}
.devices > p {
	font-size: 18px;
	margin-top: 25px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 150%;
}
.buy-now {
	height: 740px;
	background: url('../img/buy-now-bg.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center bottom;
  	overflow: auto;
	padding-top: 70px;
}
.buy-now > .content {
	margin-top: 60px;
}
.buy-now .left-box {
	float: left;
	width: 284px;
	letter-spacing: .03em;
}
.buy-now h3 {
	font-size: 24px;
	color:#f15a29;
}
.buy-now p {
	font-size: 18px;
	line-height: 150%;
	margin: 25px 0;
	color: #4c5058;
}
footer {
	margin-top: 50px;
}
footer > .content {
	text-align: center;
}
footer .icons {
	margin: 17px auto;
}
footer .icons > li {
	display: inline-block;
	height:40px;
	width: 40px;
	text-align: center;
	border: 1px solid #eaebec;
	border-radius: 50%;
	margin-right: 10px;
}
footer .icons > li:hover {
	cursor: pointer;
}
.fa {
	margin-top: 13px;
}
.fa-twitter {
	color: #3ea1ec;
}
.fa-facebook {
	color: #445b93;
}
.fa-instagram {
	color: #386589;
}
footer > .content > .copyright, footer > .content > .join {
	font-size: 16px;
	letter-spacing: .03em;
}
footer > .content > .copyright {
	color: #838994;
}
footer .join {
	font-weight: 600;
	color: #4c5058;
	margin-top: 17px;
}
